<main class="main">
  <div class='item-contents'>
    <h2 class='title'>ピックアップ</h2>
    <div class="subtitle" >
      新規投稿動画
    </div>

    <ul class='item-lists'>
    <% @movies.each do |movie| %>
      <li class='list'>
        <%= link_to root_path do %>
        <div class='item-img-content'>
          <%= video_tag(movie.video_top.to_s, :controls => true, class: "item-img") %>
        </div>
        <div class='item-info'>
          <h3 class='item-name'>
            <%= movie.movie_name %>
          </h3>
          <div class='item-price'>
            <span><%= movie.movie_content %><br><%= movie.genre.name %></span>
          </div>
        </div>
        <% end %>
      <% end %>
      </li>
    </ul>
  </div>
</main>
