<main class="main">
  <div class="inner">
    <div class="card__wrapper">
    <h2 class='title'>ピックアップカテゴリー</h2>
    <div class="subtitle" >
      新規投稿商品
    </div>

    <ul class='item-lists'>
    <% @movies.each do |movie| %>
      <li class='list'>
        <%= link_to root_path do %>
        <div class='item-img-content'>
          <%= video_tag(movie.video_top.to_s, :controls => true, class: "item-img") %>
        </div>
        <div class='item-info'>
          <h3 class='item-name'>
            <%= 'hoge' %>
          </h3>
          <div class='item-price'>
            <span><%= 'hoge' %>円<br><%= 'hoge' %></span>
          </div>
        </div>
        <% end %>
      <% end %>
      </li>
    </ul>
    </div>
  </div>
</main>
