<div class="movie-show">
  <div class="movie-box">
    <h2 class="name">
      <%= @movie.movie_name %>
    </h2>
    <div class='movie-img-content'>
      <%= video_tag(@movie.video_top.to_s, :controls => true, class: "movie-box-img") %>
    </div>
    <div class='movie-info-box'>
      <h3 class='movie-content'>
        <%= @movie.movie_content %>
      </h3>
      <div class='genre-name'>
        <%= @movie.genre.name %>
      </div>
    </div>

    <% if user_signed_in? %>
      <%= link_to "動画の編集", edit_movie_path(@movie.id), class: "red-btn" %>
      <%= link_to "削除", movie_path(@movie.id), method: :delete, class:"movie-destroy" %>
    <% end %>
  </div>
  <div class="prototype__comments">
    <% if user_signed_in? %>
      <%= form_with model: [@movie, @comment], local: true do |f|%>
        <div class="field">
          <%= f.label :comment_content, "コメント" %><br />
          <%= f.text_area :comment_content, id:"comment_content" %>
        </div>
        <div class="actions">
          <%= f.submit "送信する", class: :form__btn  %>
        </div>
      <% end %>
    <% end %>
    <ul class="comments_lists">
      <% @comments.each do |comment| %>
        <li class="comments_list">
          <%= comment.comment_content%>
          <%= comment.user.nickname %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
